@import '../_variables.scss';


.slider {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  .image {
    margin-top: 8vh !important;
  }
  .previous, .next {
    transition: $transition;
    &:not(.disabled):hover, 
    &:not(.disabled):focus {
      .arrowIcon {
        #background {
          fill-opacity: 1;
        }
        #arrow {
          stroke: #464951
        }
      }
    }

  }
}